GtkViewport.gb-top-bar {
  background-image: -gtk-gradient(linear,
                                  left top, left bottom,
                                  from (@wm_bg_b),
                                  to (@button_gradient_color_b));
  border-radius: 0;
  border-width: 0 0 1 0;
  border-style: solid;
  border-color: darker (@theme_bg_color);
  border-image: none;
}

GtkButton.gb-top-bar {
  -GtkButton-child-displacement-x:0;
  -GtkButton-child-displacement-y:0;
  border-radius: 0;
  border-width: 0 0 1 1;
  border-style: solid;
  border-color: darker (@theme_bg_color);
  border-image: none;
  padding-bottom: 0; margin-bottom: 0;
  background-image: -gtk-gradient(linear,
                                  left top, left bottom,
                                  from (@wm_bg_b),
                                  to (@button_gradient_color_b));
}

GtkButton.gb-top-bar:hover {
  background-image: -gtk-gradient(linear,
                                  left top, left bottom,
                                  from (@button_hover_gradient_color_a),
                                  to (@button_hover_gradient_color_b));
}

GtkButton.gb-top-bar:active,
GtkButton.gb-top-bar:hover:active {
  background-image: -gtk-gradient(linear,
                                  left top, left bottom,
                                  from (@button_active_gradient_color_a),
                                  to (@button_active_gradient_color_b));
}

GtkButton.gb-top-bar GtkArrow {
  color: @internal_element_color;
}

GtkComboBox.gb-top-bar .button {
  border-image: none;
  border-width: 0 0 1 1;
  border-style: solid;
  border-radius: 0;
  border-color: darker (@theme_bg_color);
  background-image: -gtk-gradient(linear,
                                  left top, left bottom,
                                  from (@wm_bg_b),
                                  to (@button_gradient_color_b));
}

GtkComboBox.gb-top-bar .button:hover {
  border-image: none;
  border-width: 0 0 1 1;
  border-style: solid;
  border-radius: 0;
  border-color: darker (@theme_bg_color);
  background-image: -gtk-gradient(linear,
                                  left top, left bottom,
                                  from (@button_hover_gradient_color_a),
                                  to (@button_hover_gradient_color_b));
}

GtkComboBox.gb-top-bar:nth-child(first) .button {
  border-width: 0 0 1 0;
}

GtkComboBox.gb-top-bar:nth-child(first) .button:hover {
  border-width: 0 0 1 0;
}

GtkButton.gb-bottom-bar,
GtkViewport.gb-bottom-bar,
GtkComboBox.gb-bottom-bar .button {
  -GtkButton-child-displacement-x:0;
  -GtkButton-child-displacement-y:0;
  border-image: none;
  border-width: 1 1 0 0;
  border-style: solid;
  border-radius: 0;
  border-color: darker (@theme_bg_color);
  background-image: -gtk-gradient(linear,
                                  left top, left bottom,
                                  from (@button_gradient_color_a),
                                  to (@button_gradient_color_b));
}

GtkButton.gb-bottom-bar:nth-child(last),
GtkViewport.gb-bottom-bar:nth-child(last),
GtkComboBox.gb-bottom-bar:nth-child(last) .button {
  border-width: 1 0 0 0;
}

GtkComboBox.gb-bottom-bar .frame {
  border-image: none;
  border-radius: 0;
  border-style: solid;
  border-width: 1 0 0 0;
  border-color: darker (@theme_bg_color);
}

GtkHBox.gb-top-controls GtkComboBox.gb-top-bar:nth-child(first) .button {
  border-width: 0 0 1 1;
}

GtkHBox.gb-top-controls GtkComboBox.gb-top-bar:nth-child(first) .button:hover {
  border-width: 0 0 1 1;
}

GtkNotebook.gb-top-bar {
  border-image: none;
  border-width: 0 0 1 0;
  border-style: solid;
  border-radius: 0;
  border-color: darker (@theme_bg_color);
  background-image: -gtk-gradient(linear,
                                  left top, left bottom,
                                  from (@wm_bg_b),
                                  to (@button_gradient_color_b));
}

* {
  -GtkPaned-handle-size: 1;
}

.pane-separator {
  color: darker (@theme_bg_color);
  background-color: darker (@theme_bg_color);
}

GbProgressBar {
  color: darker (@theme_selected_bg_color);
  background-color: @theme_base_color;
}

#gb-view-search-combo .button {
  border-width: 1 0 0 0;
}

#gb-project-button {
  border-width: 0 0 1 0;
}
